
.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 70vh;
  align-items: center;
  background:#d5d7db;
}

.container {
  display: flex;
}

.card_section {
  display: block;
}

.card {
  display: flex;
  position: relative;
  height: 300px;
  margin: 20px 5px 1px 10px;
  width: 200px;
  box-shadow: 0 0 0 1px black;
  overflow: hidden;
  border-radius: 4px;

}
.card:nth-child(2), .card:nth-child(3) {
  display: none;
}

.image {
  transition: all 0.2s ease;
}

.intro {
  height: 65px;
  width: 100%;
  bottom: 0;
  position: absolute;
  background: rgb(27, 27, 27, .5);
  color: white;
  transition: all 0.2s ease;
}

.title {  
  opacity: .8;
  font-size: 20px;
 margin-left:25px;
}

.subtitle {
  font-size: 10px;
  margin-left: 20px;
  opacity: 0;
}

.card:hover {
  cursor: pointer;

}

.card:hover .intro {
  height: 50px;
  bottom: 250px;
  background: black;
  opacity: .4;
}

.card:hover .subtitle {
  opacity: 1;
}


.text_section {
  display: block;
  width: 30%;
}
.name{
  width: 30%;
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem ;
  text-align: center;
  
}
.description{
  position: absolute;
  margin-top: 7rem;
  padding: 1rem;
  text-align: center;
  text-transform: capitalize;
}

.btn{  
  text-align: center;
  color: white;
  background-color: green;
  margin-top: 17rem;
  cursor: pointer;
  margin-left: 2rem;
  padding: 10px;
}

@media screen and (min-width: 45em) {
  .card_section{
    
    display: flex;
    width: 70%;
  }
  .card:nth-child(2), .card:nth-child(3) {
    display: flex;
  }
  .description{
    align-items: center;
  }
  .btn{
    margin-left: 6rem;
  }
}