.navbar {
  background-color: aquamarine;
  background-image: url(/bansko-view.jpg);
}
.navbar a {
  margin: 20px;
  padding: 10px;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5em;
  align-items: center;
  justify-content: center;
}
.navbar a:hover{
  text-decoration: underline;
}